.board {
	width: 100px;
	display: flex;
	flex-wrap: wrap;

	&__square {
		height: 34px;
		width: 34px;
		background: #fff;
		border: 1px solid #999;
		float: left;
		font-size: 24px;
		font-weight: bold;
		line-height: 34px;
		margin-right: -1px;
		margin-top: -1px;
		padding: 0;
		text-align: center;

		&:not(.board__square--selected):hover {
			background: #eee;
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}
	}
}
